@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #e9b4da;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.mistakes_content {
    line-height: 1.2

}

.mistake{
    flex: 1 0 calc(100% - 10px);
    height: 100%;
    text-align: center;
    padding: 15px;
    border: #e9b4da solid 2px;
    margin: 5px;
}

.boild {
    font-weight: 700;
}

.mistake h4 {
    margin-bottom: 10px;
}

.mistatakes-wraper {
    display: flex;
    overflow: hidden;
    background-color: #b5b8b1;
    align-items: center;
}

.mistatakes-wraper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.mistake_index {
    padding: 15px 5px;
    display: flex;
    justify-content: center;

}

.mistake_indicator {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border: #e9b4da solid 3px;
    border-radius: 50%;
}

.mistake_indicator_active {
background-color: #e9b4da;
}

.header {
    background-color: #b5b8b1;
    padding: 20px 20px; 
}


.link_instagram {
    text-decoration-line: none;
    color: black;
}

.link_instagram:hover {
    color: #e9b4da
}
.partfolio {
    background-color: #e9b4da;
    padding: 10px;
}

.greeting {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

.greeting-text {
    font-size: 1rem;
    margin-bottom: 15px;
}

.purposes {
    font-size: 1rem;
    line-height: 1.2;
}


.partfolio-images {
    width: 60%;
    display: flex;   
    margin: 0 auto 30px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.total-container {
    background-color: #e9b4da;
    padding: 10px;
    line-height: 1.2;
}

.total-item {
    margin-left: 15px;
    margin-bottom: 10px;
    list-style: none;
}


.partfolio-images img {
    width: 100%;  
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    padding: 5px;
    border: 1px solid #b5b8b1;
    object-fit: contain;
    flex-shrink: 0;
}

.tasks-content {
    background-color: #b5b8b1;
    padding: 15px;
    border: #e9b4da solid 1px;
}

.mistakes_content h3 {
    background-color: #e9b4da;
    padding: 15px;
    text-align: center;
}


.items {
    display: flex;
    width: 100%;
    background-color:#e9b4da;
    justify-content: center;
    padding: 30px 0;
}

.social-icon__instagram {
    background-image: url(../Image/icon/Instagram_white.svg);
}

.social-icon-list {
    display: flex;
    flex-direction: row;
}

.icon-item {
    list-style: none;
    margin-right: 25px;
}

.social-icon__vk {
    background-image: url(../Image/icon/VK_white.svg);
}
.social-icon__whatsapp {
    background-image: url(../Image/icon/WhatsApp_white.svg)
}

.social-icon__telegram {
    background-image: url(../Image/icon/Telegram_white.svg)
}

.social-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center center;
}

.visually-hidden-icon {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.wraper__purposes {
    margin-bottom: 100px;
    display: flex;
}

.purposes__emoji {
    font-size: 5rem;
    transform: translate(0,70px) rotate(-25deg);
    margin-top: auto;
    margin-left: 100px
}

.total-item::before {
    content: '❗';
    position: absolute;
    left: 5px;
}


.gift-item {
    margin-left: 30px;
    margin-bottom: 10px;
    list-style: none;
}
.gift-item::before {
    content: '🎁';
    position: absolute;
    left: 5px;
}

.gift-container {
    background-color: #b5b8b1;
    padding: 30px 0 ;
}
